@import url('https://fonts.googleapis.com/css2?family=Solway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
:root{
    --main-font-family: 'Solway', serif;
    --h1-font-size: 5rem;
    --paragraph-font-size: 2em;
    --contact-btn-padding: 3%;
    --contact-btn-width: 35%;
    --contact-btn-height: 5rem;

}


*{
    margin: 0;
    padding: 0;
}


nav{
    position: fixed;
    top: 0;
    
    text-align: center;
    padding-left: 5%;
    padding-top: 1.3%;
    width: 100%;
    height: 5rem;
    background-color: black;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li{
    display: inline;
}

#welcome-section{
    height: 100vh; 
    display: flex;
    flex-direction: row;

    
}

.me{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#left-section{
   flex: 1;
   text-align: center;
}

#right-section{
    flex: 1;
}

#welcome-section h1{
    color: black;
    font-family: var(--main-font-family);
    font-size: var(--h1-font-size);
   margin-top: 15%;
}

#welcome-section p{
    color: black;
    font-size: var(--paragraph-font-size);
    font-family: var(--main-font-family);
    padding: 5%;
}

#welcome-section .fa-github{
    font-size: 5rem;
    display: block;
    margin-top: 2%;
    text-decoration: none;
    color: black;
}

#contact-btn{
    padding: var(--contact-btn-padding);
    border-radius: .5rem;
    width: var(--contact-btn-width);
    height: var(--contact-btn-height);
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Nothing You Could Do', cursive;
}

#contact-btn:hover{
    animation: button .2s linear;
    animation-fill-mode: forwards;
}

#about{
    height: 100vh; 
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

#about .left-container{
    flex: 1;
    height: 100vh;
    border: 1px solid red;
}

#about .right-container{
    flex: 1;
   text-align: center;
}

#about h2{
    color: black;
    font-family: var(--main-font-family);
    font-size: var(--h1-font-size);
   margin-top: 15%;
}

#about p{
    color: black;
    font-size: var(--paragraph-font-size);
    font-family: var(--main-font-family);
    padding: 5%;
}

#laptop{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    border: 1px solid green;
}

#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}

.project-title-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5% auto;
}



.project-img{
    object-fit: contain;
   
    width: 100%;
    height: 22rem;
}


#projects h3{
    color: black;
    font-family: var(--main-font-family);
    font-size: var(--h1-font-size);
   margin-top: 5%;
   width: 100%;
   text-align: center;
}


.project-tile .project-information{
    font-size: larger;
    font-family: var(--main-font-family);
    text-align: center;
}
@keyframes button {
    from{
        height: var(--contact-btn-height);
        width: var(--contact-btn-width);
    }

    to{
        height: calc(var(--contact-btn-height) + 1rem);
        width: calc(var(--contact-btn-width) + 5%);

    }
}



@media (max-width: 1024px){
    #about .right-container p{
        font-size: calc(var(--paragraph-font-size) - .3em);
    }

    #projects .project-title-card{
        padding-left: 5%;
    }
}
